<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-none d-lg-flex align-items-end fixed-top bg-dark py-2 text-white">
    <div class="container d-flex justify-content-between">
        <div class="social-links">
            <small class="me-3">
                <i class="mdi mdi-clock-outline text-danger me-1"></i>Monday - Friday | 9am - 5pm</small>
            <small>
                <i class="mdi mdi-map-marker text-danger me-1"></i>149, Brickfield, Off Apapa Road, Lagos</small>
        </div>
        <div class="social-links">
            <a href="#" class="twitter text-white">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="#" class="facebook text-white">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="#" class="linkedin text-white">
                <i class="fa fa-linkedin"></i>
            </a>
            <a href="#" class="instagram text-white">
                <i class="fa fa-instagram"></i>
            </a>
        </div>
    </div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-white">
    <div class="container d-flex align-items-center justify-content-between">
        <a routerLink="/" class="logo">
            <img src="assets/img/logo.png" loading="lazy" alt="" class="img-fluid" style="max-width: 80%;"></a>

        <nav class="main-nav d-none d-lg-block">
            <ul>
                <li id="about-link" routerLinkActive="active" *ngFor="let item of navlist">
                    <a [routerLink]="item.link">{{item.text}}</a>
                </li>
                <li>
                    <a routerLink="/contact" class="btn btn-sm btn-danger text-white px-3">Contact Us</a>
                </li>
            </ul>
        </nav>

        <div class="d-lg-none">
            <button class="btn btn-circle btn-circle-lg bi bi-list" type="button" data-bs-toggle="offcanvas" data-bs-target="#menu" aria-controls="offcanvasRight"></button>
        </div>
        <!-- .main-nav-->

    </div>
</header>
<!-- End Header -->

<div class="offcanvas offcanvas-end text-white" tabindex="-1" id="menu" aria-labelledby="offcanvasRightLabel" style="width: 80%; background-color: rgba(0,0,0,0.6);">
    <div class="offcanvas-header border-bottom border-white">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" style=""></button>
    </div>
    <div class="offcanvas-body">
        <div class="d-flex flex-column gap-3">
            <button (click)="closeOffcanvas()" [routerLink]="item.link" type="button" routerLinkActive="active" class="btn nav-btn" *ngFor="let item of navlist; let i=index">{{item.text}}</button>
        </div>
    </div>
    <div class="d-grid py-1">
        <button (click)="closeOffcanvas()" type="button" routerLink="/contact" class="btn btn-light rounded-0">Contact Us</button>
    </div>
</div>