<app-layout>

    <main id="main" class="mt-5">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs pt-4">
            <div class="container">

                <ol>
                    <li>
                        <a routerLink="/">Home</a>
                    </li>
                    <li>Approach</li>
                </ol>
                <h2>OUR TRIPLE “A” APPROACH</h2>

            </div>
        </section>
        <!-- End Breadcrumbs -->

        <section class="inner-page pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 mb-4" data-aos="fade-up" data-aos-delay="100">
                        <img src="./assets/img/approach.png" alt="Approach" class="img-fluid">
                    </div>
                    <div class="col-lg-7 mb-4" data-aos="slide-left" data-aos-delay="200">
                        <h2 class="text-uppercase text-danger">OUR TRIPLE “A” APPROACH</h2>
                        <h6 class="text-uppercase">(BRIDGING THE GAP)</h6>
                        <hr>

                        <div class="row">
                            <span class="col-md-1 col-2">
                                <img src="assets/img/1.png" alt="1" class="img-fluid"></span>
                            <span class="col-md-11 col-10">
                                <b class="lead fw-bold me-2 text-danger">ALIGN</b>
                                <i class="small">- We Listen To Your Problems and Get Acquainted</i>
                                <p>Our Alignment session provides us the opportunity to listen and get acquainted with
                                    the
                                    client’s unique needs and requirements. It affords us clarity and serves as a
                                    pointer
                                    towards providing the recommended solutions.</p>
                            </span>
                        </div>

                        <div class="row">
                            <span class="col-md-1 col-2">
                                <img src="assets/img/2.png" alt="1" class="img-fluid"></span>
                            <span class="col-md-11 col-10">
                                <b class="lead fw-bold me-2 text-danger">ANALYZE</b>
                                <i class="small">- Think Big, Think Smart and Think Realistically</i>
                                <p>This stage entails rigorous brainstorming and decision making, with the goal to help
                                    clients decide their unique business strategy, actions and what the organization
                                    will do
                                    to become successful.</p>
                            </span>
                        </div>

                        <div class="row">
                            <span class="col-md-1 col-2">
                                <img src="assets/img/3.png" alt="1" class="img-fluid"></span>
                            <span class="col-md-11 col-10">
                                <b class="lead fw-bold me-2 text-danger">ACTUALIZE</b>
                                <i class="small">- We deliver a High Performing Solution</i>
                                <p>This is basically a 3 to 12-month implementation-based programme designed to provide
                                    hands on support to help our clients implement the initiatives and strategic
                                    decisions
                                    agreed upon.</p>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </section>

    </main>
    <!-- End #main -->

</app-layout>