<app-layout>
    <main id="main">
    
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs pt-4">
            <div class="container">
    
                <ol>
                    <li>
                        <a routerLink="/">Home</a>
                    </li>
                    <li>About Us</li>
                </ol>
                <h2>About Us</h2>
    
            </div>
        </section>
        <!-- End Breadcrumbs -->
    
    
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
    
            <div class="container" data-aos="fade-up">
                <div class="row">
    
                    <div class="col-lg-5 col-md-6">
                        <div class="about-img" data-aos="fade-right" data-aos-delay="100">
                            <img src="assets/img/whoweare.jpeg" alt="Who We Are">
                        </div>
                    </div>
    
                    <div class="col-lg-7 col-md-6">
                        <div class="about-content" data-aos="fade-left" data-aos-delay="100">
                            <h2 class="text-danger">Who We Are</h2>
                            <h3>OUR HUMBLE BEGINNINGS</h3>
                            <p>Our Story has always been about Optimization, Growth, and, above all, Digitization. It was
                                appropriate to create FutureSense after being under the employ of some global multinational
                                companies and consulting for many C-suite executives.</p>
                            <p>It can be disheartening to see organizations failing to implement their operational, tactical
                                and strategic plans. They seemed a bit disorganized and stuck in the multiple destination
                                trap, which paralyzed them and resulted in
                                inefficiencies, thus not reaching their full potentials.</p>
                            <p>It hence became an imperative to act and establish FutureSense as a consulting firm to
                                adequately cater to these observations. This includes helping businesses build their
                                strategic focus, and more importantly create measurable
                                goals to help bridge strategy and execution gaps.</p>
                            <p>Under this passionate, innovative and visionary leadership, FutureSense has become a trusted
                                strategy and digital transformation consulting firm operating from Lagos and serving clients
                                both in Nigeria and other parts of the world.
                                With a team of dedicated professionals, we continue to help our clients reach their full
                                potential in very practical and result-oriented ways.</p>
                        </div>
                    </div>
                </div>
    
            </div>
    
        </section>
        <!-- End About Section -->
    
        <!-- ======= Vision Section ======= -->
        <section id="vision" class="about bg-light">
    
            <div class="container" data-aos="fade-up">
                <div class="row">
    
                    <div class="col-lg-7 col-md-6 order-2 order-md-1">
                        <div class="about-content" data-aos="fade-left" data-aos-delay="100">
                            <h2 class="text-danger">Our Vision</h2>
                            <p>We are a natural extension of your most strategic resources. Our clients see us as partners;
                                therefore, we focus on clear communications at all levels of our transaction, keeping our
                                clients informed, updated while still giving
                                the attentive ears desired by our client.</p>
                            

                                <figure class="text-center">
                                    <blockquote class="blockquote">
                                        <p>Our Vision is to be the best in class for delivering a culture of continuous improvement and
                                        self-sustaining positive changes.</p>
                                    </blockquote>
                                    <figcaption class="blockquote-footer">
                                        FutureSense Company
                                    </figcaption>
                                </figure>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 order-1 order-md-2">
                        <div class="about-img">
                            <img src="assets/img/vision.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
    
        </section>
        <!-- End Vision Section -->
    
        <!-- ======= Vision Section ======= -->
        <section id="vision" class="about">
    
            <div class="container" data-aos="fade-up">
                <div class="row">
                    <div class="col-lg-5 col-md-6 order-1 order-md-1">
                        <div class="about-img">
                            <img src="assets/img/mission.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 order-2 order-md-2">
                        <div class="about-content" data-aos="fade-left" data-aos-delay="100">
                            <h2 class="text-danger">Our Mission</h2>
                            <p>DELIVERING VALUE TO OUR CUSTOMERS: We view our clients as partners; therefore, our approach
                                is clearly focused on partnership and leading the way in meeting or exceeding our customers’
                                expectations.</p>
                            <p>INVESTING IN PEOPLE: We believe in people and the importance of individuals and teams in the
                                success of our engagements. Therefore, we respect and support through training and education
                                that help develop new skills for a rapidly
                                changing world in our teams, youth and communities in which we work.</p>
                            <p>GENERATING LONG-TERM VALUE FOR OUR SHAREHOLDERS: We are committed to transparency and
                                effective engagement with our shareholders.</p>
                        </div>
                    </div>
                </div>
            </div>
    
        </section>
        <!-- End Vision Section -->
    
    </main>
    <!-- End #main -->

</app-layout>