<app-layout>
<main id="main" class="mt-5">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs pt-4">
        <div class="container">

            <ol>
                <li>
                    <a routerLink="/">Home</a>
                </li>
                <li>Competencies</li>
            </ol>
            <h2>Our Competencies</h2>

        </div>
    </section>
    <!-- End Breadcrumbs -->

    <section class="inner-page pt-4">
        <div class="container" data-aos="zoom-out">
            <div class="row">
                <div class="col-md-4 col-lg-4 wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
                    <div class="box" style="min-height: 340px;">
                        <div class="icon" style="background: #fceef3;height: 80px; width: 80px;">
                            <img src="assets/img/bulb.png" style="object-fit: cover;width: 60%;overflowx:hidden;">
                        </div>
                        <h4 class="title text-uppercase">
                            <a href="#">BUSINESS STRATEGY</a>
                        </h4>
                        <p class="description">We work side-by-side with our clients to make meaningful changes and
                            develop a practical approach to rapidly innovate, disrupt, and accelerate businesses at
                            scale.</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                    <div class="box" style="min-height: 340px;">
                        <div class="icon" style="background: #fff0da;height: 80px; width: 80px;">
                            <img src="assets/img/screen-cloud.png"
                                style="object-fit: cover;width: 60%;overflowx:hidden;">
                        </div>
                        <h4 class="title text-uppercase">
                            <a href="">DIGITAL TRANSFORMATION</a>
                        </h4>
                        <p class="description">We help your company keep up with the current global trends by taking
                            advantages of Big Data and digitizing your core products and processes, so you can
                            streamline cost and increase revenue.</p>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="box" style="min-height: 340px;">
                        <div class="icon" style="background: #e6fdfc;height: 80px; width: 80px;">
                            <img src="assets/img/user-net.png" style="object-fit: cover;width: 60%;overflowx:hidden;">
                        </div>
                        <h4 class="title text-uppercase">
                            <a href="">CHANGE MANAGEMENT</a>
                        </h4>
                        <p class="description">We provide strategies to prepare, equip and support businesses for
                            successful adoption of significant change in systems, processes, policies and management.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section>

</main>
<!-- End #main -->
</app-layout>