<app-layout>
    <main id="main" class="mt-5">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs pt-4">
            <div class="container">

                <ol>
                    <li>
                        <a routerLink="/">Home</a>
                    </li>
                    <li>Key Offerings</li>
                </ol>
                <h2>OUR KEY OFFERINGS</h2>

            </div>
        </section>
        <!-- End Breadcrumbs -->

        <section class="inner-page pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 mb-4" data-aos="fade-up" data-aos-delay="100">
                        <img src="./assets/img/key-offering.png" alt="Key Offerings" class="img-fluid">
                    </div>
                    <div class="col-lg-7 mb-4" data-aos="slide-left" data-aos-delay="200">
                        <h2 class="text-uppercase text-danger">KEY OFFERINGS</h2>
                        <h6 class="text-uppercase">(AREAS TO PARTNER WITH US)</h6>
                        <hr>

                        <div class="row">
                            <span class="col-md-1 col-2">
                                <img src="assets/img/1.png" alt="1" class="img-fluid"></span>
                            <span class="col-md-11 col-10">
                                <b class="lead fw-bold me-2 text-danger">FULL SCALE ANALYTICS</b>
                                <p>We can utilize your numbers through 4 layers of analytics to provide unimaginable
                                    insights to improve your business efficiency.</p>
                            </span>
                        </div>

                        <div class="row">
                            <span class="col-md-1 col-2">
                                <img src="assets/img/2.png" alt="1" class="img-fluid"></span>
                            <span class="col-md-11 col-10">
                                <b class="lead fw-bold me-2 text-danger">MARKET RESEARCH SOLUTION</b>
                                <p>Our AI driven solution offers real time, geo located insights into consumer behavior
                                    leveraging crowdsourced and open-sourced global trends.</p>
                            </span>
                        </div>

                        <div class="row">
                            <span class="col-md-1 col-2">
                                <img src="assets/img/3.png" alt="1" class="img-fluid"></span>
                            <span class="col-md-11 col-10">
                                <b class="lead fw-bold me-2 text-danger">CONTACT STRATEGY</b>
                                <p>We can partner with you in evaluating your Route-to-Market strategy after which an
                                    off
                                    the shelf solution can be developed to fast-track growth.</p>
                            </span>
                        </div>

                        <div class="row">
                            <span class="col-md-1 col-2">
                                <img src="assets/img/4.png" alt="1" class="img-fluid"></span>
                            <span class="col-md-11 col-10">
                                <b class="lead fw-bold me-2 text-danger">POST IMPLEMENTATION SUPPORT</b>
                                <p>We would continue to be a natural extension of your most strategic resources offering
                                    quality support to achieve business excellence post implementation.</p>
                            </span>
                        </div>

                        <div class="row">
                            <hr>
                            <div class="col-md-12 text-center">
                                <a routerLink="/contact" class="btn btn-danger">
                                    <i class="ion-ios-briefcase-outline me-3"></i>Let's Do Business!</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

    </main>
    <!-- End #main -->


</app-layout>