<app-layout>
    <app-hero></app-hero>
    <main id="main">

        <!-- ======= Call To Action Section ======= -->
        <section id="call-to-action" class="call-to-action">
            <div class="container" data-aos="zoom-out">
                <div class="row">
                    <div class="col-md-4 col-lg-4 wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
                        <div class="box" style="min-height: 340px;">
                            <div class="icon" style="background: #fceef3;height: 80px; width: 80px;">
                                <img src="assets/img/bulb.png" style="object-fit: cover;width: 60%;overflowx:hidden;">
                            </div>
                            <h4 class="title text-uppercase">
                                <a href="#">BUSINESS STRATEGY</a>
                            </h4>
                            <p class="description">We work side-by-side with our clients to make meaningful changes and
                                develop a practical approach to rapidly innovate, disrupt, and accelerate businesses at
                                scale.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                        <div class="box" style="min-height: 340px;">
                            <div class="icon" style="background: #fff0da;height: 80px; width: 80px;">
                                <img src="assets/img/screen-cloud.png"
                                    style="object-fit: cover;width: 60%;overflowx:hidden;">
                            </div>
                            <h4 class="title text-uppercase">
                                <a href="">DIGITAL TRANSFORMATION</a>
                            </h4>
                            <p class="description">We help your company keep up with the current global trends by taking
                                advantages of Big Data and digitizing your core products and processes, so you can
                                streamline cost and increase revenue.</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
                        <div class="box" style="min-height: 340px;">
                            <div class="icon" style="background: #e6fdfc;height: 80px; width: 80px;">
                                <img src="assets/img/user-net.png"
                                    style="object-fit: cover;width: 60%;overflowx:hidden;">
                            </div>
                            <h4 class="title text-uppercase">
                                <a href="">CHANGE MANAGEMENT</a>
                            </h4>
                            <p class="description">We provide strategies to prepare, equip and support businesses for
                                successful adoption of significant change in systems, processes, policies and
                                management.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!--  End Call To Action Section -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services section-bg">
            <div class="container" data-aos="fade-up">

                <header class="row">
                    <div class="col-md-6">
                        <h6 class="text-uppercase xtitle">Helping your organization reach its full potential</h6>
                        <h1 class="font-weight-bold">Industries We Serve</h1>
                        <p class="text-left font-weight-light">Get deep industry expertise and fully integrated services
                            from our professionals gained from hands-on experiences spanning functions, sectors, and
                            geographies across multiple industries.</p>
                    </div>
                </header>

                <div class="row g-3">

                    <div class="col-md-6 col-lg-6" data-aos="zoom-in" data-aos-delay="300">
                        <div class="box" style="height: 100%!important; min-height: 400px;">
                            <div class="icon" style="background: #e6fdfc;">
                                <i class="ion-ios-monitor" style="color: #3fcdc7;"></i>
                            </div>
                            <h4 class="title">
                                <a href="">Technology</a>
                            </h4>
                            <p class="description text-center">Transform the digital space, stay competitive and create
                                new revenue streams by uplifting your innovation capacity, developing your service
                                delivery strategy, improving your operational efficiency and providing opinions
                                regarding
                                your intangible asset.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 wow" data-aos="zoom-in" data-aos-delay="100">
                        <div class="box" style="height: 100%!important; min-height: 400px;">
                            <div class="icon" style="background: #eafde7;">
                                <i class="ion-gear-b" style="color:#41cf2e;"></i>
                            </div>
                            <h4 class="title">
                                <a href="">Manufacturing</a>
                            </h4>
                            <p class="description text-center">Address issues head‐on with a comprehensive approach to
                                manufacturing process improvement by implementing solutions that improve your operating
                                cash flows, reduce working capital, build stronger management teams and assure your
                                customers more predictable on‐time delivery.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6" data-aos="zoom-in" data-aos-delay="300">
                        <div class="box" style="height: 100%!important; min-height: 400px;">
                            <div class="icon" style="background: #edee2f;">
                                <i class="ion-model-s" style="color: #0f60fe;"></i>
                            </div>
                            <h4 class="title">
                                <a href="">Transportation &amp; Logistics</a>
                            </h4>
                            <p class="description text-center">Maximise equipment utilisation, improve on‐time delivery,
                                increase inventory turns, and reduce operating costs by focusing on the interrelated
                                areas of your operating processes, management operating systems, and leadership
                                capability
                                development.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6" data-aos="zoom-in" data-aos-delay="300">
                        <div class="box" style="height: 100%!important; min-height: 400px;">
                            <div class="icon" style="background: #ecebff;">
                                <i class="ion-ios-cart" style="color: #df6055;"></i>
                            </div>
                            <h4 class="title">
                                <a href="">Retail</a>
                            </h4>
                            <p class="description text-center">FutureSense’s technological and retail expertise
                                capabilities in design, analytics, system integration, product engineering, artificial
                                intelligence, cyber security and business support can help clients to gain agility and
                                reimagine
                                shopping journeys. FutureSense enables process and technology transformation and also
                                provides an innovation ecosystem that allows retailers to experience new technology and
                                business paradigms.
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Services Section -->

        <!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us">
            <div class="container" data-aos="fade-up">

                <header class="row">
                    <div class="col-md-6">
                        <h6 class="text-uppercase xtitle">Areas We partner with you</h6>
                        <h1 class="font-weight-bold">Key Offerings</h1>
                    </div>
                </header>
                <hr>

                <div class="row">

                    <div class="col-md-3 col-lg-3 wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
                        <div class="box text-center" style="min-height: 350px;">
                            <h4 class="title">
                                <a href="">Full Scale Analytics</a>
                            </h4>
                            <p class="description text-center">We can utilize your numbers through 4 layers of analytics
                                to provide unimaginable insights to improve your business efficiency.</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-lg-3 wow bounceInUp" data-aos="zoom-in" data-aos-delay="200">
                        <div class="box text-center" style="min-height: 350px;">
                            <h4 class="title">
                                <a href="">Market Research Solution</a>
                            </h4>
                            <p class="description text-center">Our AI driven solution offers real time, geo located
                                insights into consumer behavior leveraging crowdsourced and open-sourced global trends.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-3 col-lg-3 wow bounceInUp" data-aos="zoom-in" data-aos-delay="300">
                        <div class="box text-center" style="min-height: 350px;">
                            <h4 class="title">
                                <a href="">Contact Strategy</a>
                            </h4>
                            <p class="description text-center">We can partner with you in evaluating your
                                Route-to-Market strategy after which an off the shelf solution can be developed to
                                fast-track growth.</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-lg-3 wow bounceInUp" data-aos="zoom-in" data-aos-delay="400">
                        <div class="box text-center" style="min-height: 350px;">
                            <h4 class="title">
                                <a href="">Post Implementation Support</a>
                            </h4>
                            <p class="description text-center">We would continue to be a natural extension of your most
                                strategic resources offering quality support to achieve business excellence post
                                implementation.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ======= COunter Section ======= -->
        <section class="why-us bg-danger">

            <div class="container-fluid text-white">
                <div class="row counters" data-aos="fade-up" data-aos-delay="100">

                    <div class="col-lg-3 col-6 text-center text-white">
                        <span class="counter" data-toggle="counter-up">{{diff}}</span>
                        <p class="text-white">Years of Experience</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center text-white">
                        <span class="counter" data-toggle="counter-up">12</span>
                        <p class="text-white">Business advices given over {{diff}} years
                        </p>
                    </div>

                    <div class="col-lg-3 col-6 text-center text-white">
                        <span class="counter" data-toggle="counter-up">6</span>
                        <p class="text-white">Businesses guided over {{diff}} years
                        </p>
                    </div>

                    <div class="col-lg-3 col-6 text-center text-white">
                        <span class="counter" data-toggle="counter-up">125</span>
                        <p class="text-white">Business insights over {{diff}} years
                        </p>
                    </div>

                </div>
            </div>
        </section>
        <!-- End COunter Section -->


        <!-- ======= Team Section ======= -->
        <section id="team" class="team section-bg">
            <div class="container" data-aos="fade-up">
                <div class="section-header">
                    <h3>The Team</h3>
                    <p class="text-uppercase">Achieving with the MasterMinds</p>
                </div>

                <div class="row">

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="member">
                            <img src="assets/img/damilare_olaoye.jpeg" class="img-fluid" alt="Damilare Olaoye">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Damilare Olaoye</h4>
                                    <span>Managing Partner</span>
                                    <div class="social">
                                        <a href="">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="member">
                            <img src="assets/img/akan_odu.jpeg?v=1" class="img-fluid" alt="Akan Odu">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Akan Odu</h4>
                                    <span>Partner - Strategy</span>
                                    <div class="social">
                                        <a href="">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="member">
                            <img src="assets/img/chioma_nwaimo.jpeg" class="img-fluid" alt="Chioma Nwaimo">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Chioma Nwaimo</h4>
                                    <span>Partner - Governance</span>
                                    <div class="social">
                                        <a href="">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Team Section -->

        <!-- ======= Clients Section ======= -->
        <section id="clients" class="clients">
            <div class="container" data-aos="zoom-in">

                <header class="section-header">
                    <h3>Our Clients</h3>
                </header>

                <div class="owl-carousel clients-carousel">
                    <img src="assets/img/clients/fmn.png" alt="FMN">
                    <img src="assets/img/clients/AB_InBev_logo.png" alt="ABInBev">
                    <img src="assets/img/clients/Heineken-Logo.png" alt="Heiniken">
                    <img src="assets/img/clients/enipro.png" alt="ENIPRO">
                    <img src="assets/img/clients/Reckitt_Benckiser_Logo.png" alt="Reckitt Benckiser">
                    <img src="assets/img/clients/CITISERVE.png" alt="CitiServe">
                </div>

            </div>
        </section>
        <!-- End Clients Section -->

    </main>
    <!-- End #main -->
</app-layout>