<app-navbar></app-navbar>

<main id="main" class="mt-5">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs pt-4">
        <div class="container">

            <ol>
                <li>
                    <a routerLink="/">Home</a>
                </li>
                <li>Contact Us</li>
            </ol>
            <h2>Contact Us</h2>

        </div>
    </section>
    <!-- End Breadcrumbs -->

    <section class="inner-page pt-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-4" data-aos="fade-up" data-aos-delay="100">
                    <img src="assets/img/contact.png" alt="" class="img-fluid"></div>
                <div class="col-lg-6 mb-4" data-aos="slide-left" data-aos-delay="200">
                    <h4 class="text-uppercase">Always a Message Away!</h4>
                    <hr>
                    <h5 class="row">
                        <i class="ion-ios-location mb-4 col-1"></i>
                        <span class="col-11">149, Brickfield, Off Apapa Road, Lagos</span>
                    </h5>
                    <h5 class="row">
                        <i class="ion-ios-world mb-4 col-1"></i>
                        <span class="col-11">www.futuresensecompany.com</span>
                    </h5>
                    <h5 class="row">
                        <i class="ion-ios-telephone mb-4 col-1"></i>
                        <span class="col-11">+1-403-618-0704<br>+234-702-049-1818<br>+234-803-046-4047</span>
                    </h5>
                    <h5 class="row">
                        <i class="ion-email mb-4 col-1"></i>
                        <span class="col-11">hello@futuresensecompany.com</span>
                    </h5>
                </div>
            </div>
        </div>
    </section>

</main>
<!-- End #main -->

<app-footer></app-footer>