<app-layout>
    <main id="main" class="mt-5">
    
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs pt-4">
            <div class="container">
    
                <ol>
                    <li>
                        <a routerLink="/">Home</a>
                    </li>
                    <li>Team</li>
                </ol>
                <h2>OUR TEAM</h2>
    
            </div>
        </section>
        <!-- End Breadcrumbs -->
    
        <section id="team" class="team inner-page pt-4">
            <div class="container" data-aos="fade-up">
                <div class="section-header">
                    <h3>The Team</h3>
                    <p class="text-uppercase">Achieving with the MasterMinds</p>
                </div>
    
                <div class="row">
    
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="member">
                            <img src="assets/img/damilare_olaoye.jpeg" loading="lazy" class="img-fluid" alt="Damilare Olaoye">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Damilare Olaoye</h4>
                                    <span>Managing Partner</span>
                                    <div class="social">
                                        <a href="">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="member">
                            <img src="assets/img/akan_odu.jpeg" loading="lazy" class="img-fluid" alt="Akan Odu">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Akan Odu</h4>
                                    <span>Partner - Strategy</span>
                                    <div class="social">
                                        <a href="">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="member">
                            <img src="assets/img/chioma_nwaimo.jpeg" loading="lazy" class="img-fluid" alt="Chioma Nwaimo">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Chioma Nwaimo</h4>
                                    <span>Partner - Governance</span>
                                    <div class="social">
                                        <a href="">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
    
            </div>
        </section>
    
    </main>
    <!-- End #main -->
    
</app-layout>